@import "tailwindcss";

@font-face {
    font-family: 'ShrekFont';
    src: url('../public/SHREK.TTF') format('truetype');
}

:root{
    background-color: black;
    font-family: "Poppins";
}